{
  "env": {
    "node": true,
    "es6": true,
    "es2017": true,
    "es2020": true
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script"
  },
  "rules": {
    "strict": ["error", "global"],
    "no-restricted-syntax": "off"
  }
}
