
.section{
    font-weight: 400;
    font-size: 2rem;
}

.sub-section {
    font-weight: 400;
    font-size: 1.25rem;
    color: #757575;
    margin-bottom: 0;
}

::placeholder {
    color: #ACB0AD;
}
  
.submit-btn {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
  
    height: 50px;
    width: 50px;
    padding: 10px;
    right: 0;
}
  
.submit-btn:focus {
    outline: none;
}
  
.chip-area {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 30vw;
    min-width: 150px;
}
  
.chip {
    background: transparent;
    border: 1px solid rgba(235, 73, 23, 0.72);
}
  
.capitalize {
    text-transform: capitalize;
}

.main-wrapper {
    display: flex;
    width: 100%;
}

.left-wrapper {
    width: 50%;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-wrapper {
    width: 50%;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction {
    width: 30vw;
    min-width: 150px;
}