.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-wrapper *{
    color: rgba(235, 73, 23, 0.72);
}

.profile-sub-wrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

label {
    padding-left: 5px;
}

label, .profile-input {
    width: 25vw;
    min-width: 150px; 
}

.profile-input {
    border-radius: 5px;
    border: 1px solid rgba(235, 73, 23, 0.72);
    padding: 8px 15px;
}

.profile-input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(235, 73, 23, 0.72);
}

.profile-sect {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .profile-sub-wrapper {
        flex-direction: column;
    }
    
    label, .profile-input {
        min-width: 150px;
        width: 100%;
    }
    .profile-sect {
        margin: 0;
        width: 100%
    }
}