.getrec {
    border-radius: 8px;
    background: rgba(235, 72, 23);
    border: transparent;
    color: white;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 75px;
}

.lucky-btn {
    border-radius: 8px;
    background: white;
    border: 1px solid rgb(235, 72, 23);
    color: rgb(235, 72, 23);
    padding: 5px 40px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 75px;
}

.lucky-btn:hover {
    background: rgb(235, 72, 23);
    color: white
}

.getrec:hover {
    background: rgb(206, 64, 20);
}