/* Global Styling */

* {
  color: rgba(235, 73, 23, 0.72);
  border-color: rgba(235, 73, 23, 0.72);

  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  outline: none !important;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
