/* Global Styling */

* {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  outline: none !important;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
